.add-task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 30px;
}

.input-todo {
  width: 100%;
  padding: 20px 0px 20px 20px;
  border: none;
  border-radius: 10px;
  border: solid 1px rgba(17, 17, 17, 0.1);
  box-shadow: 0px 8px 10px -10px gray;
}

.add-image {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 15px;
  cursor: pointer;
  fill: black; /* default color */
  transition: fill 0.2s ease;
}

.add-image:hover {
  fill: gray;
}


.input-todo::placeholder {
  font-size: 15px;
}

.input-todo:focus {
  outline: none;
  border: 1px solid #503cf7;
}

