.add-task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 30px;
}

.input-todo {
  width: 100%;
  padding: 20px 0px 20px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.add-image {
  height: 45px;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.input-todo::placeholder {
  font-size: 15px;
}

.input-todo:focus {
  outline: none;
  border: 1px solid #503cf7;
}

