.add-task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 30px;
}

.input-todo {
  width: 100%;
  padding: 20px 0px 20px 20px;
  border: none;
  border-radius: 10px;
  border: solid 1px var(--border-gray-color);
  border-bottom-width: 2px;
}

.add-image {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 15px;
  cursor: pointer;
  fill: black; /* default color */
  transition: fill 0.2s ease;
}

.add-image:hover {
  fill: gray;
}


.input-todo::placeholder {
  font-size: 15px;
}

.input-todo:focus {
  outline: none;
  border: 1px solid #503cf7;
}

/* media if width is <=767px */

@media(width<=767px){
  .input-todo{
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .add-image{
    height: 35px;
    width: 35px;
  }
}