
*{
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white
  ;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-image: url(./assets/wave-bg.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
}

@media(width<=767px){
  body{
    background-size: 400%;
  }
}



