.filter-class {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.filter-box {
  border: none;
  border: 1px rgba(17, 17, 17, 0.1) solid;
  padding: 10px 0px 10px 5px;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  padding-left: 10px;
}

.filter-box:focus {
  outline: none;
  border: 1px solid #503cf7;
}

.filter-box::placeholder {
  font-size: 14px;
}

.sortout-buttons-container {
  background-color: rgba(17, 17, 17, 0.1);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin-left: 10px;
  border-radius: 8px;
  height: 35px;
}

button {
  background-color: none;
  background: none;
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  font-weight: bold;
  color: rgb(104, 103, 103);
  cursor: pointer;
}
